html, body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background: #171717;
  height: 100vh;

  .actionBar {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #212121;

    .label {
      font-size: 15px;
      margin-right: 10px;
    }

    .button {
      padding: 5px 10px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background-color: #444;
      }
    }
  }

  .content {
    display: flex;
    flex: auto;
    overflow: hidden;

    .logsContainer {
      overflow-y: auto;
      flex: auto;
      padding: 10px;
      width: 80%;

      h1 {
        margin: 40px 0;
      }

      .logEntry {
        margin-bottom: 32px;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        &.error {
          color: #ff615c;
        }

        &.warning {
          color: #ffc042;
        }

        &.notice {
          color: #4aed60;
        }
      }
    }

    .sidebar {
      width: 30%;
      height: 100vh;
      overflow-y: scroll;
      background-color: #333;
      padding: 10px;

      .stackTrace {
        color: #888;
      }
    }
  }
}
