html, body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background: #171717;
  height: 100vh;

  /* Make the whole window draggable. Set no-drag on elements which can click. */
  -webkit-app-region: drag;

  input,
  button,
  .clickable,
  .scrollable {
    -webkit-app-region: no-drag;
  }

  .window {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;

    .aside {
      position: sticky;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #262727;
      padding-top: 30px;
      width: 70px;
    }

    .main {
      background-color: #262727;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .actionBar {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 100px;
    background-color: #303031;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;
    }

    .label {
      font-size: 15px;
      margin-right: 10px;
    }

    .button {
      padding: 5px 10px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background-color: #444;
      }
    }

    .iconButton {
      align-items: center;
      background-color: transparent;
      border-radius: 45px;
      border-width: 0;
      cursor: pointer;
      display: flex;
      height: 45px;
      justify-content: center;
      width: 45px;

      &:hover {
        background-color: #444;
      }

      &:disabled {
        background-color: transparent;
        cursor: inherit;
        opacity: 0.5;
      }
    }
  }

  .content {
    background-color: #262727;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;

    &.lock {
      overflow: hidden;
    }

    .logsContainer {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 10px 16px;

      &.loading {
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      h1 {
        margin: 40px 0;
      }

      .logEntry {
        align-items: center;
        background-color: #212121;
        border: 2px solid #303031;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 4px;
        padding: 10px;
        word-break: break-all;

        &.selected {
          border-color: #fff;
        }

        &.error {
          color: #ff615c;

          &.selected {
            border-color: #ff615c;
          }
        }

        &.warning {
          color: #ffc042;

          &.selected {
            border-color: #ffc042;
          }
        }

        &.notice {
          color: #4aed60;

          &.selected {
            border-color: #4aed60;
          }
        }

        &.clickable {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    background-color: #303031;
    padding: 10px 16px;
  }

  .search {
    align-items: center;
    display: flex;
    gap: 16px;

    .searchTextField {
      color: #fff;
      background-color: #262727;
      background-image: url(./../assets/search.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 10px center;
      border-width: 0;
      border-radius: 8px;
      flex-grow: 1;
      outline-width: 0;
      padding: 10px 10px 10px 34px;
    }

    .closeButton {
      align-items: center;
      background-color: transparent;
      border-width: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 0;

      &.hidden {
        display: none;
      }
    }
  }

  .modal {
    background-color: #1A1A1A;
    border: 3px solid #333;
    bottom: 20px;
    box-sizing: border-box;
    height: calc(100% - 40px);
    left: 30px;
    position: sticky;
    right: 30px;
    top: 20px;
    width: calc(100% - 60px);

    &.hide {
      display: none;
    }

    &.show {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .closeButton {
      background-color: #535353;
      border: 2px solid #fff;
      border-radius: 20px;
      cursor: pointer;
      margin: 10px;
      padding: 20px;
      text-align: center;
    }
  }

  .stackTraceContent {
    background-color: #1A1A1A;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;

    .stackTrace {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-bottom: 16px;

      .file {
        color: #4aed60;
        text-decoration: underline;

        &.openable {
          cursor: pointer;
        }
      }

      .detail {
        color: #fff;
      }
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
}
