html, body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background: #171717;
  height: 100vh;
  /* Make the whole window draggable. Set no-drag on elements which can click. */
  -webkit-app-region: drag;
}

body input,
body button,
body .clickable,
body .scrollable {
  -webkit-app-region: no-drag;
}

body .window {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

body .window .aside {
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #262727;
  padding-top: 30px;
  width: 70px;
}

body .window .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body .actionBar {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 100px;
  background-color: #303031;
  justify-content: space-between;
}

body .actionBar .label {
  font-size: 15px;
  margin-right: 10px;
}

body .actionBar .button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

body .actionBar .button:hover {
  background-color: #444;
}

body .actionBar .search {
  position: relative;
}

body .actionBar .search .searchTextField {
  color: #fff;
  background-color: #262727;
  background-image: url(./../assets/search.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px center;
  border-width: 0;
  border-radius: 8px;
  outline-width: 0;
  padding: 10px 10px 10px 32px;
}

body .actionBar .search .closeButton {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10.25px;
  right: 10px;
}

body .actionBar .search .closeButton.hidden {
  display: none;
}

body .content {
  background-color: #262727;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}

body .content.stop {
  overflow: hidden;
}

body .content .logsContainer {
  flex: auto;
  padding: 10px 16px;
}

body .content .logsContainer h1 {
  margin: 40px 0;
}

body .content .logsContainer .logEntry {
  background-color: #212121;
  border: 2px solid #303031;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
}

body .content .logsContainer .logEntry.selected {
  border-color: #fff;
}

body .content .logsContainer .logEntry.error {
  color: #ff615c;
}

body .content .logsContainer .logEntry.error.selected {
  border-color: #ff615c;
}

body .content .logsContainer .logEntry.warning {
  color: #ffc042;
}

body .content .logsContainer .logEntry.warning.selected {
  border-color: #ffc042;
}

body .content .logsContainer .logEntry.notice {
  color: #4aed60;
}

body .content .logsContainer .logEntry.notice.selected {
  border-color: #4aed60;
}

body .content .logsContainer .logEntry.clickable {
  cursor: pointer;
}

body .modal {
  background-color: #1A1A1A;
  border: 3px solid #333;
  bottom: 20px;
  box-sizing: border-box;
  height: calc(100% - 40px);
  left: 30px;
  position: sticky;
  right: 30px;
  top: 20px;
  width: calc(100% - 60px);
}

body .modal.hide {
  display: none;
}

body .modal.show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body .modal .closeButton {
  background-color: #535353;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 25px;
  text-align: center;
}

body .stackTraceContent {
  background-color: #1A1A1A;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

body .stackTraceContent .stackTrace {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 16px;
}

body .stackTraceContent .stackTrace .file {
  color: #4aed60;
}

body .stackTraceContent .stackTrace .file.openable {
  cursor: pointer;
}

body .stackTraceContent .stackTrace .detail {
  color: #fff;
}
