html, body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background: #171717;
  height: 100vh;
  /* Make the whole window draggable. Set no-drag on elements which can click. */
  -webkit-app-region: drag;
}

body .button,
body .clickable {
  -webkit-app-region: no-drag;
}

body .window {
  display: flex;
  flex-direction: row;
}

body .window .aside {
  background-color: #262727;
  height: 100vh;
  padding-top: 30px;
  width: 70px;
}

body .window .main {
  flex: 1;
}

body .actionBar {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #212121;
}

body .actionBar .label {
  font-size: 15px;
  margin-right: 10px;
}

body .actionBar .button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

body .actionBar .button:hover {
  background-color: #444;
}

body .content {
  display: flex;
  flex: auto;
  overflow: hidden;
}

body .content .logsContainer {
  overflow-y: auto;
  flex: auto;
  padding: 10px;
  width: 80%;
}

body .content .logsContainer h1 {
  margin: 40px 0;
}

body .content .logsContainer .logEntry {
  margin-bottom: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

body .content .logsContainer .logEntry.error {
  color: #ff615c;
}

body .content .logsContainer .logEntry.warning {
  color: #ffc042;
}

body .content .logsContainer .logEntry.notice {
  color: #4aed60;
}

body .content .sidebar {
  width: 30%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #333;
  padding: 10px;
}

body .content .sidebar .stackTrace {
  color: #888;
}
